/* TEMPLATE STYLESHEET */


/* These are some suggested groupings for your stylesheet... */

/* Default styling styling for the body.*/

body {
    font-family: sans-serif;  /* update with Google font, web safe font and generic fallback */
    font-size: 100%; /* the default browser font size is 16px */
    line-height: 1 ; /* update to suit your type choices */
    color: #000;  /* base text colour - update to suit your design */
}

/* Improves default font styles for forms  */

input,
textarea {
    font-family: sans-serif; /* update with Google font, web safe font and generic fallback */
}

/* box sizing */


/* flexible content images code */


/* element styling (e.g. standard p, h1, h2, a, etc) */


/* navigation (using flexbox) */


/* page header */


/* main layout */


/* styling for the section content */


/* background colours for sections */


/* image gallery media queries and size overrides */


/* form styling */


/* footer */